html {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

.main-b a {
    display: block;
    margin: 5px;
}
.main-t, body h1 {
    margin: 25px 5px;
    color: #11380C;
}